// colors

$color-blue: #3676BB;
$color-bgblue: #001D2E;
$color-yellow: #F5AF5F;
$color-red: #E7465D;
$color-black: #000000;
$color-white: #ffffff;


$media-size-ipad: 768px;
$media-size-phone: 425px;